
.movie-view{
margin-top: 100px;
}

.movie-poster{
    margin:20px;
}

.movie-title{
    margin:20px;
    color: white;
}

.movie-description{
    margin-bottom: 20px;
    color:blanchedalmond;
}

.back-button{
    margin-top: 20px;
}